.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.product-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.inside-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product-input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.3s;
    margin: 0.5rem;
}

.product-input:hover,
.product-input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}  

.description {
    width: 20rem;
    height: 5rem;
}

.label {
    margin: 2rem 0;
}

.sell-btn {
    display: block;
    width: 15rem;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 12px;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: larger;
}
.sell-btn:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}
.sell-btn:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.5rem;
    border: 1px solid rgb(182, 182, 249);
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.div-label {
    font-size: 0.9rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.689);
}

.more-description {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.507);
    font-weight: 800;
}